// @each $color,
// $value in $theme-colors {
//   @include list-group-item-variant($color, theme-color-level($color, -9), theme-color-level($color, 6));
// }

.callout {
  margin: 20px 0;
  padding: 20px;
  border-left: 3px solid #eee;

  h4 {
    margin-top: 0;
    margin-bottom: 5px;
    font-size: $font-size-lg;
    line-height: $line-height-base;
  }

  p:last-child {
    margin-bottom: 0;
  }
}
$theme-colors: ( // primary: $blue,
primary: $primary, secondary: $secondary, success: $green, info: $cyan, warning: $yellow, danger: $red, light: $gray-100, dark: $gray-800) !default;

// use rgba so that background-color also works for dark theme
.callout-success {
  background-color: #f3faf3;
  border-color: theme-color("success");

  h4 {
    color: theme-color("success");
  }   
}

.callout-info {
  background-color:  #f4f8fa;
  border-color: theme-color("info");

  h4 {
    color: theme-color("info");
  }
}

.callout-warning {
  background-color: #fcf8f2;
  border-color: theme-color("warning");

  h4 {
    color: theme-color("warning");
  }
}

.callout-danger {
  background-color: #fdf7f7;
  border-color: theme-color("danger");

  h4 {
    color: theme-color("danger");
  }
}


